@import url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,wght@1,500&family=Roboto+Mono&family=Rubik+Dirt&display=swap");
@import url('https://fonts.googleapis.com/css2?family=ABeeZee&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700;800;900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .card {
    border-radius: 150px 0px 150px 0px;
  }
  .fw-400{
    font-weight: 400;
  }
  .fw-500{
    font-weight: 500;
  }
  .fw-600{
    font-weight: 600;
  }
  .fw-700{
    font-weight: 700;
  }
  .fw-800{
    font-weight: 800;
  }
  .fw-900{
    font-weight: 900;
  }
  .fs-400{
    font-size:14px;
  }
  .fs-500{
    font-size: 15px;
  }
  .fs-600{
    font-size: 16px;
  }
  .btn{
    border-radius:10px;
    padding: 10px 30px;
  }
  .btn-default{
    border:1px solid gray;
  }
  .shades{
    box-shadow: rgba(0, 0, 0, 0.14) 0px 3px 8px;
  }
  .shades:hover{
    box-shadow: rgba(224, 224, 224, 0.4) 0px 11px 38px, rgba(0, 0, 0, 0.22) 0px 11px 12px;
  }
  .logo-fix{
    position:fixed;
    top:30px;
    left:27%;
  }
  .circle{
    border-radius:50%;
  }
  .center-item{
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .tags{
    left:12%;
  }
  .mygrid{
    display: grid;
    grid-template-columns: 32% 32% 32%;
    justify-content: space-between;
  }
  .bg-primary{
    background-color: #3F79AD;
  }
  .text-primary{
    color: #3F79AD;
}
.text-secondary{
  color: #EC8B20;
}
.bg-secondary{
  background: #EC8B20;
}
.home-bg{
  background: #F5F5F5;
}
.grid-4{
  display:grid;
  grid-template-columns: 23% 23% 23% 23%;
}
.menu-btn{
  left:33%;
}
.btn-primary{
  background:#3F79AD;
  color:#fff;
  padding: 10px 15px;
  border-radius:7px;
  box-shadow: rgba(0, 0, 0, 0.14) 0px 3px 8px;
}
.modal-bg{
  background:rgba(0, 0, 0, 0.6)
}
.modal-cancel{
  left: 80%;
  color: #fff;
}
.grid-83 {
  display:grid;
  grid-template-columns: 64% 33%;
  justify-content:space-between;
}
.grid-74{
  display:grid;
  grid-template-columns: 57% 40%;
  justify-content:space-between;
}
.head-grid{
  display:grid;
  grid-template-columns: 15% 85%;
  justify-content:space-between;

}
.sidebar-w{
  width:15%;
}
.main-p{
  width:85%;
  float:right;
}
.light-bg{
  background: #EAF5FF;
  border-right: 2px solid #3F79AD;
}
.text-xxl{
  font-size: 26px;
}
.pt-21{
  padding-top: 81px;
}
.profile-drop{
  left:-100px;
}
}
